.navStyle{
    border-bottom : 2px solid black ;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    height: 10px;
    background-color: rgb(94, 139, 111);
    border-radius: 5px;
}